<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.neoturbine.autolycus" android:versionCode="1" android:versionName="1.0beta">

	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<provider android:name=".providers.AutolycusProvider"
			android:syncable="false" android:authorities="net.neoturbine.providers.autolycus" />
		<activity android:name="BusShortcuts" android:configChanges="orientation|keyboardHidden" android:label="@string/shortcut">
			<intent-filter>
				<action android:name="android.intent.action.CREATE_SHORTCUT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name="SelectRoute" android:label="@string/route_title">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.autolycus.routes" />
			</intent-filter>
		</activity>
		<activity android:name="SelectDirection" android:label="@string/dir_title">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.autolycus.directions" />
			</intent-filter>
		</activity>
		<activity android:name="SelectStop" android:label="@string/stop_title">
			<intent-filter>
				<action android:name="android.intent.action.PICK" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.autolycus.stops" />
			</intent-filter>
		</activity>
		<activity android:name="StopPrediction" android:configChanges="orientation|keyboardHidden" android:launchMode="singleTask" android:label="@string/prediction_title">
			<intent-filter>
				<action android:name="net.neoturbine.autolycus.openstop" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	<activity android:label="@string/prefs_title" android:name=".prefs.Prefs"></activity>
<activity android:name="AboutScreen" android:label="@string/app_name" android:icon="@drawable/ic_launcher"><intent-filter><action android:name="android.intent.action.MAIN"></action>
<category android:name="android.intent.category.LAUNCHER"></category>
</intent-filter>
</activity>
</application>

	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest> 